.pokemonCard {
  display: flex;
  flex-direction: row;
  border-radius: 1em 0 1em 0;
  background-color: var(--black);
  color: var(--white);
  text-align: left;
}

.pokemonCard__image {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1em 0 1em 0;
}

.pokemonCard__info {
  font-size: 0.8em;
  display: flex;
  gap: 1em;
  padding: 1em;
  flex-direction: column;
}

/* @media screen and (min-width: 50em) {
  .pokemonCard {
    flex-direction: column;
  }
} */
