.pokemonCard {
  display: flex;
  flex-direction: row;
  border-radius: 1em 0 1em 0;
  background-color: var(--black);
  color: var(--white);
}

.pokemonCard__image {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1em 0 1em 0;
}

.pokemonCard__info {
  font-size: 0.8em;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
